<h5 class="text-success"><%= t('.title') %></h5>

<table class="table table-bordered">
  <tbody>
  <% @route.trains.each do |train| %>
    <tr>
      <td><%= t('.train_num', number: train.number) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

