<div class="form-group">
  <div class="col-sm-3">
    <label for="brand" class="required pull-right"><%= t('.bottom_places') %></label>
  </div>
  <div class="col-sm-9">
    <%= @car.bottom_seats %>
  </div>
</div>
