<p id="notice"><%= notice %></p>

<h1>Список билетов</h1>

<table class="table table-hover">
  <thead>
  <tr>

    <th scope="col">ID</th>
    <th scope="col">Дата продажи</th>
    <th scope="col">Номер поезда</th>
    <th scope="col">От станции</th>
    <th scope="col">До станции</th>
    <th scope="col">ФИО покупателя</th>
    <th colspan="3" class="w-25"></th>

  </tr>
  </thead>


  <tbody>

  <%= render @tickets %>

  </tbody>
</table>

<br>

<%= link_to 'Добавить билет', new_ticket_path, :class => "btn btn-primary" %>
