<h1>Новый билет</h1>

<%= render 'form', ticket: @ticket, train: @train %>

<%= link_to 'Назад', search_path(:start_station_id => params[:start_station_id], :end_station_id => params[:end_station_id]) %>
