<tr>
  <td><%= railway_station.title %></td>
  <td><%= link_to 'Показать', railway_station, :class => 'btn btn-xs btn-info' %></td>
  <td><%= link_to 'Редактировать', edit_railway_station_path(railway_station), :class => 'btn btn-xs btn-success' %></td>
  <td><%= link_to 'Удалить', railway_station, method: :delete, data: {confirm: 'Вы уверены?'}, :class => 'btn btn-xs btn-danger' %></td>
</tr>