<h5 class="text-success">Поезда следующие по данному маршруту:</h5>

<table class="table table-bordered">
  <tbody>
  <% @route.trains.each do |train| %>
    <tr>
      <td><%= "Поезд №: #{train.number}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

