<%= form_tag update_params_railway_station_path(station), method: :patch do %>


  <table class="table table-bordered table-stripped">

    <tr>
      <td>
        <%= number_field_tag :position, station.position_in(@route), class: 'form-control' %>
        <%= hidden_field_tag :route_id, @route.id %>
      </td>
      <td><%= submit_tag "Применить", :class => "btn btn-success btn-xs" %></td>
    </tr>


  </table>
<% end %>