<h4>Все станции данного маршрута</h4>
<table class="table table-hover">
  <thead>
  <tr>

    <th scope="col">Название станции</th>
    <th scope="col">Параметры</th>
    <th></th>

  </tr>
  </thead>


  <tbody>

  <% @route.railway_stations.ordered.each do |station| %>

    <tr>
      <td><%= station.title %></td>
      <td><%= render 'current_sation_list_form', route: @route, station: station %></td>
      <td><%= link_to 'Удалить', delete_from_route_path(station, @route), method: :delete, data: {confirm: 'Подтвредите удаление станции из маршрута?'}, :class => 'btn btn-xs btn-danger' %></td>
    </tr>


  <% end %>
  </tbody>
</table>