<h1 class="page-header">
  <div class="row">
    <div class="col-md-6">
      <%= page_title %>
    </div>
    <div class="col-md-6 text-right">
      <% if with_button == true %>
        <%= link_to button_title, button_url, :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</h1>