<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Ошибка!</h4>


    <p><%= pluralize(resource.errors.count, "errors") %> prohibited this resource from being saved:</p>
<hr>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>